/*

    Font

*/
/* FontAwesome */
@font-face {
	font-family:'FontAwesome';
	src:url('./../fonts/fontawesome-webfont.eot?v=4.6.3');
	src:url('./../fonts/fontawesome-webfont.eot?#iefix&v=4.6.3') format('embedded-opentype'),
	url('./../fonts/fontawesome-webfont.woff2?v=4.6.3') format('woff2'),
	url('./../fonts/fontawesome-webfont.woff?v=4.6.3') format('woff'),
	url('./../fonts/fontawesome-webfont.ttf?v=4.6.3') format('truetype'),
	url('./../fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular') format('svg');
	font-weight:normal;font-style:normal}.fa{display:inline-block;
	font:normal normal normal 14px/1 FontAwesome;
	font-size:inherit;text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale
}

/*

    Reset/Serialization

*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}

body {
	line-height:1;
}

img {
	max-width: 100%;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
	display:block;
}

nav ul {
	list-style:none;
}

blockquote, q {
	quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
}

a {
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	color: #ffffff;
}

ins {
	background-color:#ff9;
	color:#000;
	text-decoration:none;
}

mark {
	background-color:#ff9;
	color:#000;
	font-style:italic;
	font-weight:bold;
}

del {
	text-decoration: line-through;
}

abbr[title], dfn[title] {
	border-bottom:1px dotted;
	cursor:help;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

hr {
	display:block;
	height:1px;
	border:0;
	border-top:1px solid #cccccc;
	margin:1em 0;
	padding:0;
}

input, select {
	vertical-align:middle;
}

/*

    General

*/
/* To switch template theme: Dark */
body.dark {
	background: #fff url('./../../images/bg.jpg') no-repeat fixed;
	background-size: 100vw 100vh;
}

/* To switch template theme: Light */
body.light {
	background: #fff url('./../../images/bg2.jpg') no-repeat fixed;
	background-size: 100vw 100vh;
}

.wrapper {
	width: 1100px;
	margin: 0 auto;
}

.m-wrap {
	position: fixed;
	z-index: 999;
	top: 0;
}

h1, h2, h3, h4, h5 ,h6 {
	color: #626262;
	font-family: "FontAwesome", arial, sans-serif;
	letter-spacing: 1px;
}

h1 { font-size: 2em; margin: .67em 0 }
h2 { font-size: 1.5em; margin: .75em 0 }
h3 { font-size: 1.17em; margin: .83em 0 }
h5 { font-size: .83em; margin: 1.5em 0 }
h6 { font-size: .75em; margin: 1.67em 0 }
h1, h2, h3, h4, h5, h6 { font-weight: bolder }

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}
.clearAll{
    all: unset !important;
}
.red{
	font-family: "FontAwesome", sans-serif;
	color: #662a25 !important;
	font-size: small;
}
.blue{
	font-family: "FontAwesome", sans-serif;
	color: #5f9feb !important;
	font-size: small;
}
.darkblue{
    font-family: "FontAwesome", sans-serif;
    color: #2a497c !important;
    font-size: small;
}
.orange{
	font-family: "FontAwesome", sans-serif;
	color: #d48317 !important;
	font-weight: bold;
	font-size: small;
}

/*

    Grid

*/
.row {
	float: left;
	color: #636363;
	display: block;
	height: 100%;
}
.row.uniform > * > :first-child {
	margin-top: 0;
}
.row.uniform > * > :last-child {
	margin-bottom: 0;
}

/*

    Sections/Article

*/
section, article {
	margin-bottom: 3em;
	/*height: 30vh;  todo */
}
section > :last-child,
section > .container, section:last-child, article > :last-child,
article > .container, article:last-child {
	margin-bottom: 10px;
}
.row > section, .row > article {
	margin-bottom: 0;
}

/*

    Image

*/
.image {
	display: inline-block;
	border: 0;
}
.image img {
	display: block;
	width: 100%;
}
.avatar128 {
	width: 128px;
	height: 128px;
}
.avatar128 img {
	width: 128px;
	height: 128px;
}
.avatar32 {
	width: 32px;
	height: 32px;
}
.avatar32 img {
	width: 32px;
	height: 32px;
}
.image.fit {
	display: block;
	width: 100%;
}
.image.featured {
	display: block;
	width: 100%;
	margin: 0 0 2em 0;
}
.image.left {
	float: left;
	margin: 0 2em 2em 0;
}
.image.centered {
	display: block;
	margin: 0 0 2em 0;
}
.image.centered img {
	margin: 0 auto;
	width: auto;
}

/*

    Form

*/
form label {
	display: block;
	text-align: left;
	margin-bottom: 0.5em;
}
form input[type="text"],
form input[type="search"],
form input[type="time"],
form input[type="password"],
form input[type="number"],
form select,
form textarea {
	position: relative;
	-webkit-appearance: none;
	display: inline-block;
	outline: 0;
	background: #fff;
	background: rgba(255, 255, 255, 0.75);
	border-radius: 0.35em;
	padding: 0.8em 1.6em 0.8em 1.6em;
	margin: 8px auto;
	box-shadow: inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.05);
	border: solid 1px rgba(0, 0, 0, 0.15);
	-moz-transition: all 0.35s ease-in-out;
	-webkit-transition: all 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
}
form input[type="text"]:focus,
form input[type="search"]:focus,
form input[type="time"]:focus,
form input[type="password"]:focus,
form input[type="number"]:focus,
form select:focus,
form textarea:focus {
	box-shadow: 0 0 2px 1px #8ebebc;
	background: #fff;
}
form input[type="text"],
form input[type="search"],
form input[type="time"],
form input[type="password"],
form input[type="number"],
form select {
	line-height: 1em;
}
form textarea {
	min-height: 10em;
}
form .formerize-placeholder {
	color: #555 !important;
}
form ::-webkit-input-placeholder {
	color: #555 !important;
}
form :-moz-placeholder {
	color: #555 !important;
}
form ::-moz-placeholder {
	color: #555 !important;
}
form :-ms-input-placeholder {
	color: #555 !important;
}
form ::-moz-focus-inner {
	border: 0;
}
#logout {
	position: fixed;
	top: 0.8em;
	right: 0.8em;
	width: 1.8em;
	height: 1.8em;
	z-index: 996;
	cursor: pointer;
}
#user form {
	margin-bottom: 3em;
}
form input[type="number"] {
	width: 30%;
}
form input:read-only {
	background: #EEE;
}
.smaller input[type="time"], .smaller input[type="number"] {
	width: 6em !important;
	display: inline-block !important;
}
.row form{
	margin: 0px 0px 60px 20px;
}

.editInput {
    text-align: center;
    font-family: "FontAwesome", sans-serif;
    font-size: 22px;
    outline: 0;
    vertical-align: baseline;
    background: transparent !important;
    display: block;
    margin: 1em auto;
}

.editInput:focus + input{
    display: inline-block !important;
}

.editInput:active, .editInput:focus, .editInput:hover {
    color: #2b6498 !important;
    -webkit-box-shadow: 0px 2px 33px 8px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 33px 8px rgba(0,0,0,0.5);
    box-shadow: 0px 2px 33px 8px rgba(0,0,0,0.5);
}

/*

    Table

*/
table {
	width: 100%;
}
table.default {
	width: 100%;
	text-align: left;
	table-layout:fixed;
}
table.default td {
	padding: 0.5em 1em 0.5em 1em;
}
table.default th {
	text-align: left;
	padding: 0.5em 1em 0.5em 1em;
	color: #fff;
	background: #222729;
}
table.default thead {
	background: #444;
	color: #fff;
}
table.default tfoot {
	background: #eee;
}
#eOffset {
	width: 4em;
}
#stateTable {
	padding: 0;
	margin: 0;
}
*[data-href] {
	cursor: pointer;
}
tr td a img{
	margin-left: auto;
	margin-right: auto;
}

/*

    Button

*/
input[type="button"],
input[type="submit"],
input[type="reset"],
button,
.button {
	position: relative;
	border-radius: 0.35em;
	color: #fff !important;
	text-decoration: none;
	padding: 0.8em 1.2em 0.8em 1.2em;
	margin: 10px auto;
	background-color: #5E91DC;
	border: 0;
	display: block;
	font-size: 14px;
	outline: 0;
	cursor: pointer;
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
	background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
	background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
	-moz-transition: background-color 0.35s ease-in-out;
	-webkit-transition: background-color 0.35s ease-in-out;
	transition: background-color 0.35s ease-in-out;
}
input.inline{
	display: inline-block;
}
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover,
.button:hover {
	background-color: #669199;
}
input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active,
button:active,
.button:active {
	background-color: #7eaeac;
}
.addItem {
	width: 1.2em;
	height: 1.2em;
	padding: 0;
	font-size: larger;
}
.delete-btn {
	width: 1em;
	height: 1em;
	opacity: 0.8;
    margin-left: 4px;
	cursor: pointer;
}
.edit-btn {
	width: 1em;
	height: 1em;
	opacity: 0.8;
	cursor: pointer;
	margin-left: 4px;
    background-color: #fff;
    border-radius: 2px;
}
.map-btn {
	width: 1em;
	height: 1em;
	opacity: 0.8;
	margin-left: 2px;
	cursor: pointer;
}
.authBtn{
	width: 150px;
}
.hidden{
    display: none !important;
}
.hidden:hover,.hidden:active,.hidden:focus{
    display: inline-block !important;
}
.linkBtn{
	all: initial !important;
	font-family: "FontAwesome", bold, sans-serif !important;
	text-decoration: none;
	background-color: #EEEEEE;
	color: #333333;
	padding: 2px 6px 2px 6px;
	border: 1px solid #CCCCCC;
	border-right-color: #333333;
	border-bottom-color: #333333;
	cursor: pointer !important;
}
input[type="submit"]:disabled {
	cursor: not-allowed;
	color: dimgray;
	background-color: lightgray;
}

/*

    Header

*/
header {
	width: 100%;
	height: 125px;
}

header .logo {
	float: left;
	margin-top: 10px;
	margin-left: 180px;
	background-color: rgba(0,0,0,0.01);
}

header nav {
	float: right;
	margin-top: 57px;
}


header nav ul li {
	list-style: none;
	display: block;
	float: left;
	margin-left: 40px;
}

header nav ul li a {
	text-decoration: none;
	font-family: "FontAwesome", sans-serif;
	font-size: 16px;
	transition:all .2s linear;
	-webkit-transition:all .2s linear;
	-moz-transition:all .2s linear;
	-o-transition:all .2s linear;
}

header.light nav ul li a {
	color: #fff;
}

header.light nav ul li a:hover {
	color: #B9B9B9;
}

header.dark nav ul li a {
	color: #fff;
}

header.dark nav ul li a:hover {
	color: #8d8d8d;
}

header.dark .logo {
	background-color: #B9B9B9;
	border-radius: 25px;
}

#message{
	color: #6d0c00;
	font-family: "FontAwesome", arial, sans-serif;
	font-size: 22px; // todo
	min-height: 10px;
	min-width: 50%;
	padding: 15px;
	top:0;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	z-index: 999;
	width: 100vw;
	display: none;
	text-align: center;
	background: #f1821a; /* Old browsers */
	background: -moz-linear-gradient(top, #fead59 0%, #f1821a 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #fead59 0%,#f1821a 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #fead59 0%, #f1821a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	-webkit-box-shadow: -1px 4px 33px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 4px 33px 0px rgba(0,0,0,0.75);
	box-shadow: -1px 4px 33px 0px rgba(0,0,0,0.75);
}

/*

    Footer

*/
footer {
	padding: 20px 0;
	height: 10vh;
	font-family: "FontAwesome", sans-serif;
	font-size: 16px;
	color: #FDFDFD;
	margin-top: 50px;
	width:100%;
	float: left;
}

/* To switch template theme: Light */
footer.light {
	background: linear-gradient(to bottom, rgba(230, 230, 230, 0.3) 0%, rgba(230, 230, 230, 0.1) 50%, rgba(230, 230, 230, 0.01) 100%), url('./../../images/notebook2.jpg') no-repeat bottom;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-mask-image: -webkit-gradient(
			linear, left bottom, left top,
			color-stop(1.0,  rgba(0,0,0,0)),
			color-stop(0.9,  rgba(0,0,0,0.35)),
			color-stop(0.8,  rgba(0,0,0,0.65)),
			color-stop(0.6,  rgba(0,0,0,0.85)),
			color-stop(0.3,  rgba(0,0,0,0.95)),
			color-stop(0.0,  rgba(0,0,0,1)));
}

/* To switch template theme: Dark */
footer.dark {
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.01) 100%), url('./../../images/notebook.jpg') no-repeat bottom;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-mask-image: -webkit-gradient(
			linear, left bottom, left top,
			color-stop(0.0, rgba(0, 0, 0, 1)),
			color-stop(0.3, rgba(0, 0, 0, 0.95)),
			color-stop(0.5, rgba(0, 0, 0, 0.85)),
			color-stop(0.8, rgba(0, 0, 0, 0.65)),
			color-stop(0.9, rgba(0, 0, 0, 0.35)),
			color-stop(1.0, rgba(0, 0, 0, 0)));
}

footer .end{
	padding: 5vh;
}

footer .rights p {
	float: left;
	margin: 5px 0 0 40px;
	color: #EEE;
}

footer .rights p a {
	font-weight: bold;
	text-decoration: none;
	color: #DDD;
}

footer nav ul {
	float: right;
	overflow: hidden;
	list-style: none;
	margin-top: 5px;
}

footer nav ul li {
	float: left;
	margin-left: 25px;
}

footer nav ul li a {
	text-decoration: none;

	transition:all .2s linear;
	-webkit-transition:all .2s linear;
	-moz-transition:all .2s linear;
	-o-transition:all .2s linear;
}

footer nav ul li a:hover {
	color: #616161;
}

/*

	Board

 */
.board{
	width: 100%;
	height: 40vh;
	position: relative;
}

/* To switch template theme: Light */
.board.light{
	background: linear-gradient(to top, rgba(230, 230, 230, 0.3) 0%, rgba(230, 230, 230, 0.1) 50%, rgba(230, 230, 230, 0.01) 100%), url('./../../images/notebook2.jpg') no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-mask-image: -webkit-gradient(
			linear, left top, left bottom,
			color-stop(0.0,  rgba(0,0,0,1)),
			color-stop(0.3,  rgba(0,0,0,0.95)),
			color-stop(0.6,  rgba(0,0,0,0.85)),
			color-stop(0.8,  rgba(0,0,0,0.55)),
			color-stop(0.9,  rgba(0,0,0,0.35)),
			color-stop(1.0,  rgba(0,0,0,0)));
}

/* To switch template theme: Dark */
.board.dark{
	background: linear-gradient(to top, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.01) 100%), url('./../../images/notebook.jpg') no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-mask-image: -webkit-gradient(
			linear, left top, left bottom,
			color-stop(0.0,  rgba(0,0,0,1)),
			color-stop(0.3,  rgba(0,0,0,0.95)),
			color-stop(0.6,  rgba(0,0,0,0.85)),
			color-stop(0.8,  rgba(0,0,0,0.55)),
			color-stop(0.9,  rgba(0,0,0,0.35)),
			color-stop(1.0,  rgba(0,0,0,0)));
}

.board .shadow{
	position: absolute;
	width: 100%;
	height: 30px;
	bottom: 0;
	left: 0;
	margin-bottom: -1px;
}

.board .caption{
	margin-top: 10px;
	text-align: center;
}

.board .caption.light{
	color: #fff;
}

.board .caption.dark{
	color: #b3b3b3;
}

.board .caption h1{
	font-family: "FontAwesome", sans-serif;
	font-size: 50px;
	font-weight: bold;
	margin-bottom: 20px;
}

.board .caption.light h1{
	color: #fff;
}

.board .caption.dark h1{
	color: #bebebe;
}

.board .caption p{
	font-family: "FontAwesome", sans-serif;
	font-size: 18px;
	margin-bottom: 30px;
}

.board .caption.light p{
	color: #fff;
}

.board .caption.dark p{
	color: #bfbfbf;
}

.board .caption hr{
	display: inline-block;
	height: 1px;
	width: 30px;
	border: 0!important;
	margin: 0;
	padding: 0;
}

.board .caption.light hr{
	background: #fff;
}

.board .caption.dark hr{
	background: #5d5d5d;
}

/*

    Container

*/
.container{
	padding: 10px;
	margin: 50px auto 50px auto;
	width: 80%;
	max-width: 900px;
	font-family: "FontAwesome", sans-serif;
	font-size: 20px;
	min-height: 28vh; // todo 100%
}
.container ul{
	margin-top: 10px;
}

.container ul.filler {
	margin: 0;
	height: 20vh;
}

.container ul li{
	list-style: none;
	display: block;
	width: 50vw;
	margin: 15px;
	text-align: center;
}

.container.half ul li{
	width: 25vw;
}

.container ul li h2{
	color: #616161;
	font-family: "FontAwesome", sans-serif;
	font-size: 18px;
	font-weight: bold;
	margin: 0;
}

.container ul li p{
	color: #d48317;
	font-family: "FontAwesome", sans-serif, bold;
	font-size: 22px;
}

.container.blue ul li p {
	color: #5277b7;
}

.container article {
	height: 50vh;
	overflow: auto;
}

.container.light{
	color: #333;
}

.container.dark{
	color: #DDD;
}


.centered{
	margin: 0 auto;
	text-align: center;
}

.centered h1, h2, h3, h4 {
	text-align: center;
	vertical-align: middle;
}

/*

    Details

*/
details {
	background-color: rgba(333,333,333,0.3);
	min-height: 10px;
	max-width: 400px;
	padding: 12px 22px 12px 12px;
	margin: 0 auto;
	position: relative;
	font-size: 16px;
	border: 1px solid rgba(0,0,0,.1);
	border-radius: 10px;
	box-sizing: border-box;
	transition: all .3s;
	font-family: "FontAwesome", sans-serif;
}

details + details {
	margin-top: 15px;
}

details[open] {
	min-height: 40px;
	background-color: #DDD;
	box-shadow: 2px 2px 20px rgba(0,0,0,.2);
}

details p {
	color: #96999d;
	font-weight: 200;
}

summary {
	font-weight: 300;
	cursor: pointer;
}

summary:focus {
	outline: none;
}

summary::-webkit-details-marker {
	display: none
}

summary::after {
	padding: 10px;
	position: absolute;
	top: 50%;
	right: 0;
	color: #333;
	font-family: "FontAwesome", sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant-caps: normal;
	font-variant-ligatures: normal;
	font-weight: 600;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	content: "\f078";
	transform: translateY(-50%);
	transition: .3s ease;
}

details[open] summary::after {
	content: "\f057";
	font-size: 18px;
	top: 0;
	transform: translateY(0);
	transition: .3s ease;
}

details[open] summary:hover::after {
	animation: pulse 1s ease;
}

/*

    Other

 */
.shortProfile{
    margin-top: -8px;
}
.bm{
	font-size: smaller;
	overflow-x: auto;
}
.customize{
	width: 100%;
}
.sort {
	float: left;
	padding: 0.5em 0.5em 0.3em;
	display: inline-block;
	position: relative;
}
.sort::before{
	font-family: FontAwesome, serif;
	content: "\f107";
	font-size: 20px;
	position: absolute;
	right: 15px;
	top: 10px;
	color: #888;
	pointer-events: none;
}
.customSelect {
	display: inline-block;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	border: none;
	height: 30px;
	padding-left: 6px;
	color: #444;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);
	border-radius: 3px;
	outline: none;
	cursor: pointer;
	min-width: 4em;
	max-width: 14em;
}
.filter{
	float: left;
	padding: 0.5em 0.5em 0.3em;
	display: inline-block;
	position: relative;
}
.filter .customSelect{
	min-width: 8em;
}
#manual{
	width: 8em;
	height: 4em;
	font-size: 16px;
	border: 1px solid;
	margin: 10px 0px;
	padding:18px 10px;
	position: absolute;
	background-color: rgba(128,128,128,0.5);
	right: 20px;
	z-index: 999;
	border-radius: 5px;
	animation: pulse 3s ease infinite;
	text-align: center;
}
.manual-item {
    padding: 10px;
    background-color: rgba(20,20,20,0.6);
    color: #d48317;
}
.manual-item img{
    padding: 6px;
}
#tooltip p a{
	font-size: larger;
}
/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-button {
	width: 6px;
	height: 6px;
}
::-webkit-scrollbar-thumb {
	background: #e1e1e1;
	border: 0px none #ffffff;
	border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
	background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
	background: #8d8d8d;
}
::-webkit-scrollbar-track {
	background: #666666;
	border: 0px none #ffffff;
	border-radius: 30px;
}
::-webkit-scrollbar-track:hover {
	background: #666666;
}
::-webkit-scrollbar-track:active {
	background: #333333;
}
::-webkit-scrollbar-corner {
	background: transparent;
}

/*

    Transactions/Animations

*/
@keyframes pulse {
	10% {
		transform: scale(1.1);
	}
	20% {
		transform: scale(1);
	}
	40% {
		transform: scale(1.1);
	}
	50% {
		transform: scale(1);
	}
	100% {
		transform: scale(1);
	}
}

/*

    Responsive

*/