{{ define "content" }}
<!-- Main -->
        <!-- Content -->
        <section class="container">
            <ul>
                <li>
                    <h2>Manual</h2><br>
                    <p class="manual-item">How to add/create a category. <br>
                        You can not create an Category without a Bookmark. That makes no sense.
                        <img src="/images/manual/addCategorie.png" />
                    </p>
                    <p class="manual-item">How to change category by drag and drop.
                        <br><img src="/images/manual/dragCategorie.png" />
                    </p>
                    <p class="manual-item">How to edit a bookmark.
                        <br><img src="/images/manual/editBookmark.png" />
                    </p>
                    <p class="manual-item">How to use filter.
                        <br><img src="/images/manual/useFilter.png" />
                    </p>
                    <p class="manual-item">Import Bookmarks from Browser.
                        <br><img src="/images/manual/importBookmark.png" />
                    </p>
                </li><br>
                <li>
                    <h2>Info</h2>
                    <p>This page is a study project of the Hochschule Flensburg. This project is about server-side programming with google go.</p>
                </li><br>
                <li>
                    <h2>HS Flensburg</h2>
                    <p>The Flensburg University of Applied Sciences (until April 2016 Flensburg University of Applied Sciences) is located on the campus area with the second University of Applied Sciences, the European University of Flensburg, in Flensburg. The University of Applied Sciences is one of nine public universities in Schleswig-Holstein. The number of students has almost doubled in the past ten years - from about 2000 to more than 4100.</p>
                </li>
            </ul>
        </section>
{{ end }}