{{ define "content" }}
<!-- Main -->
<!-- Content -->
<section class="container {{ if eq .User.Theme 1}}dark{{ else }}light{{ end }}">
    <div id="customize" class="customize">
        <div class="sort">
            <span>Sort by:</span>
            <select id="sort" class="customSelect">
                <option value="Date_ASC">Date ASC</option>
                <option value="Date_DESC">Date DESC</option>
                <option value="Title_ASC">Title ASC</option>
                <option value="Title_DESC">Title DESC</option>
                <option value="ManuelCategories_ASC">Categories ASC</option>
                <option value="ManuelCategories_DESC">Categories DESC</option>
                <option value="Clicks_ASC">Popularity ASC</option>
                <option value="Clicks_DESC">Popularity DESC</option>
            </select>
        </div>
        <div class="filter">
            <span>Filter by:</span>
            <input id="filter" type="text" class="customSelect" placeholder="None" list="categories" />
            <datalist id="categories">
            {{ range .Categories }}
                <option>{{ . }}</option>
            {{ end }}
            </datalist>
        </div>
    </div>
<table class="default">
    <tr>
        <th></th>
        <th>Title</th>
        <th>Description</th>
        <th>Categories</th>
        <th>Date</th>
        <th>Clicks</th>
        <th>Actions</th>
    </tr>
{{ if .Bookmarks }}
{{ range .Bookmarks }}
    <tr>
        <td>
            <a href="{{ .Address }}" target="_blank" title="Open" onclick="count({{ .Id }})">
                <img class="avatar32" src="{{ if eq .Icon "" }}/images/icon.png{{ else }}/getGridImage?name={{ .Icon }}{{ end }}"/>
                <!--now gridfs, old: data:image/ico;base64,-->
            </a>
        </td>
        <td class="bm" onclick="editCell(this,'title',{{ .Id }})" nowrap>{{ .Title }}</td>
        <td class="bm" onclick="editCell(this,'description',{{ .Id }})" nowrap>{{ .Description }}</td>
        <td onclick="editCell(this,'categories',{{ .Id }})" >{{ .ManuelCategories }}{{ if and .AutoCategories .ManuelCategories }}, {{ end }}{{ .AutoCategories }}</td>
        <td>{{ .Date }}</td>
        <td>{{ .Clicks }}</td>
        <td>
            <a href="{{ .Address }}" onclick="count({{ .Id }})" target="_blank"><img src="images/globus.png" alt="open" title="Open" class="map-btn" name="Open"/></a>
        {{ if and (ne .Long 0) (ne .Lat 0) }}<img src="images/globus.png" alt="map" title="openMap" class="map-btn" name="MapOpen"/>{{ end }}
            <!--<img src="images/edit.png" alt="edit" title="edit" class="edit-btn" name="BookmarkEdit" />-->
            <img src="images/delete.png" alt="delete" title="delete" class="delete-btn" name="BookmarkDel" onclick="del({{ .Id }})"/>
        </td>
    </tr>
{{ end }}
</table>
{{ else }}
    </table>
    <ul class="filler"><li><h2>No Bookmarks</h2><p>Go and create one!</p></li></ul>
{{ end }}
</section>
<div id="manual">
    <h4>Quick Manual</h4>
    <p>How to use this site <a href="/about">click here!</a></p>
</div>
{{ end }}