{{ define "content" }}
{{ $categories := .Categories }}
{{ $bookmarks := .Bookmarks }}
    <!-- Main -->
        <!-- Content -->
        <section class="container {{ if eq .User.Theme 1}}dark{{ else }}light{{ end }}">
            <div id="customize" class="customize">
                <div class="sort">
                    <span>Sort by:</span>
                    <select id="sort" class="customSelect">
                        <option value="Date_ASC">Date ASC</option>
                        <option value="Date_DESC">Date DESC</option>
                        <option value="Title_ASC">Title ASC</option>
                        <option value="Title_DESC">Title DESC</option>
                        <option value="ManuelCategories_ASC">Categories ASC</option>
                        <option value="ManuelCategories_DESC">Categories DESC</option>
                        <option value="Clicks_ASC">Popularity ASC</option>
                        <option value="Clicks_DESC">Popularity DESC</option>
                    </select>
                </div>
                <div class="filter">
                    <span>Filter by:</span>
                    <input id="filter" type="text" class="customSelect" placeholder="None" list="categories" />
                    <datalist id="categories">
                    {{ range $buff := $categories }}
                        <option>{{ $buff }}</option>
                    {{ end }}
                    </datalist>
                </div>
            </div>
        {{ if $categories }}
            <table class="default">
            {{ range $cat := $categories }}
                <tr>
                    <th>{{ $cat }}</th>
                </tr>
                {{ range $bm := $bookmarks }}
                    {{ if (or (eq $cat $bm.ManuelCategories) (eq $cat $bm.AutoCategories)) }}
                    <tr>
                        <td ondrop="drop(event, '{{ $bm.ManuelCategories }}', '{{ $bm.AutoCategories }}')" ondragover="allowDrop(event)">
                            <div id="{{ $bm.Id }}" draggable="true" ondragstart="drag(event)">
                                <a href="{{ $bm.Address }}" target="_blank" title="Open" onclick="count({{ $bm.Id }})">
                                    <img class="avatar32" src="{{ if eq $bm.Icon "" }}/images/icon.png{{ else }}/getGridImage?name={{ $bm.Icon }}{{ end }}"/>
                                </a>
                                <span>{{ $bm.Title }}, {{ $bm.Description }}</span>
                            </div>
                        </td>
                    </tr>
                    {{ end }}
                {{ end }}
            {{ end }}
            </table>
        {{ else }}
            <br><br>
            <ul class="filler"><li><br><h2>No Categories</h2><p>Go and create one!</p></li></ul>
        {{ end }}
    </section>
{{ end }}