{{ define "footer" }}
        <footer class="{{ if eq .User.Theme 1 }}dark{{ else }}light{{ end }}">
            <div class="wrapper end">
                <div class="rights">
                    <p>&#9400; Sven Kuhlmann. All Publishing Rights Reserved 2018</p>
                </div>

                <nav>
                    <ul>
                        <li><a href="/about">About</a></li>
                        <li><a href="/impressum">Impressum</a></li>
                        <li><a href="/policy">Privacy</a></li>
                    </ul>
                </nav>
            </div>
        </footer>
    </body>
</html>
{{ end }}