{{ define "header" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>drückMich</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1" />
    <meta name="description" content="Study Project: Bookmark manager.">
    <link rel="shortcut icon" type="image/x-icon" href="./images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="./assets/css/main.css" />
    <script language="javascript" type="text/javascript" src="./assets/js/main.js"></script>
</head>
<body class="{{ if eq .User.Theme 1}}dark{{ else }}light{{ end }}">
<!-- Message -->
    <div class="m-wrap">
        <div id="message">
            {{ if eq .Message "" }}{{ else }}<script type='text/javascript'>messageDialog();</script>{{ end }}
            <div>{{ .Message }}</div>
        </div>
    </div>
<!-- Header -->
    <section class="board {{ if eq .User.Theme 1}}dark{{ else }}light{{ end }}">
        <header class="wrapper {{ if eq .User.Theme 1}}dark{{ else }}light{{ end }}">
            <a href="/bookmarks"><img class="logo" src="./images/logo.png" alt=""/></a>
            <nav>
                <ul>
                    <li><a href="/bookmarks">Bookmarks</a></li>
                    <li><a href="/categories">Categories</a></li>
                    <li><a href="/profile">Profile</a></li>
                    <li>
                        <form method="post" action="{{ if .User.Username }}/{{ else }}/login{{ end }}">
                            <input type="submit" class="linkBtn" name="authBtn" value="{{ if .User.Username }}Logout{{ else }}Login{{ end }}" />
                        </form>
                    </li>
                    <li class="shortProfile">
                        <span>
                            <a class="orange shortProfile" href="/profile">
                                <img class="avatar32" src="./images/avatar/{{ if .User.Avatar }}{{ .User.Avatar }}{{ else }}default.png{{ end }}" alt="avatar"/>
                                {{ if .User.Username }}{{.User.Username}}{{ end }}<br>
                                <i>{{ if .User.Title }}{{.User.Title}}{{ end }}</i>
                            </a>
                        </span>
                    </li>
                </ul>
            </nav>
        </header>
        <div class="clearfix caption {{ if eq .User.Theme 1}}dark{{ else }}light{{ end }}">
            <h1>Bookmark-Manager</h1>
            <p>Manage your bookmarks more effectively!</p>
        </div>
    </section>
{{ end }}