{{ define "content" }}
<!-- Main -->
    <!--  Login -->
    <section class="container centered">
        <h2 class="alt">Welcome to <strong>drückMich</strong>, your Bookmark-Manager.</h2>
        <h3>Log in and create new bookmarks!</h3><br>
        <div class="centered red">{{ if .User.Username }}Du bist oder warst als Benutzer <b>{{ .User.Username }}</b> eingeloggt.{{ end }}</div>
        <form method="post" action="/">
                <input type="text" name="uname" placeholder="Username" autofocus />
                <input type="password" name="passwd" placeholder="Password" />
                <input type="submit" class="authBtn" name="authBtn" value="Login" />
                <input type="submit" class="authBtn" name="authBtn" value="Registration" />
        </form>
    </section><br>

    <!-- Data -->
    <section class="container">
            <br><details>
            <summary>
                <h2>Import / Export</h2>
            </summary>
            <p>
                <form method="post" action="/data?action=export">
                    <fieldset>
                        <span><b>Export data as XML: </b></span><br>
                        {{ if .User.Username }}<input id="exportBtn" type="submit" name="submit" value="Export" title="Export">{{ else }}You have to be logged in!{{ end }}
                    </fieldset>
                </form>
                <br><br>
                <form method="post" action="/data?action=import" enctype="multipart/form-data">
                    <fieldset>
                        <span><b>Import data from XML: </b></span><br>
                        <input type="hidden" name="test" value="test"><br>
                        <input type="file" name="dataFile" id="dataFile" multiple="multiple">
                        <input type="submit" name="submit" value="Import">
                    </fieldset>
                </form>
            <br><p><b>Hint:</b> This is just possible in development mode, <br>because it is a security breach!</p>
        </details>
    </section>
{{ end }}