{{ define "content" }}
<!-- Main -->
        <!-- Content -->
        <section class="container blue half">
            <header>
                <h2>Profile</h2>
            </header>
            <div class="row">
                <ul>
                    <li>
                        <h2>Avatar</h2><br>
                        <span><img class="avatar128" src="./images/avatar/{{ if .User.Avatar }}{{ .User.Avatar }}{{ else }}default.png{{ end }}" alt="avatar"/></span>
                    </li><br>
                    <li>
                        <span></span>
                        <h2>Username</h2><br>
                        <form method="post" title="edit" action="/user?set=username">
                            <input type="text" name="username" id="unameIpt" class="clearAll editInput blue" value="{{ if .User.Username }}{{.User.Username}}{{ else }}Unknown{{ end }}"/>
                            <input type="submit" class="inline hidden" name="submit" value="Set">
                        </form>
                    </li><br>
                    <li>
                        <span></span>
                        <h2>Title</h2><br>
                        <form method="post" title="edit" action="/user?set=title">
                            <input type="text" name="title" id="titleIpt" class="clearAll editInput blue" value="{{ if .User.Title }}{{.User.Title}}{{ else }}None{{ end }}"/>
                            <input type="submit" class="inline hidden" name="submit" value="Set">
                         </form>
                    </li>
                </ul>
            </div>
            <div class="row">
                <form method="post" action="/user?set=avatar" enctype="multipart/form-data">
                    <span><b>Set an avatar image: </b></span><br>
                    <input type="file" class="inline" name="avatarFile" id="avatarFile" multiple="multiple">
                    <input type="submit" class="inline" name="submit" value="Upload">
                </form>
                <form method="post" action="/user?set=bookmarks" enctype="multipart/form-data">
                    <span><b>Upload Bookmarks from<br />Chrome/Webkit export: </b></span><br>
                    <input type="file" class="inline" name="dataFile" id="dataFile" multiple="multiple" >
                    <input type="submit" class="inline" name="submit" value="Upload" >
                </form>
                <form method="post" action="/user?set=theme">
                    <span><b>Set Theme: </b></span><br>
                    <select name="theme">
                        <option value="0" {{ if eq .User.Theme 0 }}selected{{ end }}>Light</option>
                        <option value="1" {{ if eq .User.Theme 1 }}selected{{ end }}>Dark</option>
                    </select>
                    <input type="submit" class="inline" name="submit" value="Set">
                </form>
                <form method="post" action="/user?del=user">
                    <span><b>Delete this user: </b></span><br>
                    <input type="submit" class="inline" name="submit" value="Delete">
                </form>
            </div>
        </section>
{{ end }}